<!DOCTYPE html>
<html>

<head>
    <title>Form Example</title>
</head>

<body>

    <form action="/pdfs" method="GET">
        <label for="class-name">Choose a class:</label>
        <br>
        <br>

        <select name="class_name" id="class-name">
            <option value="idocc">IDOCC</option>
            <option value="dev">DEV</option>
            <option value="design">DESIGN</option>
        </select>
        <br><br>

        <button type="submit">Submit</button>
    </form>

</body>

</html>
